@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Inter:wght@400;700&family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #101010;
    height: 100px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
}

.logo {
    width: 208px;
    height: 34px;
    padding: 0 35px 0 35px;
}

.menu {
    display: flex;
    gap: 35px;
    padding: 0 35px 0 35px;
}

.hub a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 60px 0 60px 0;
    background: linear-gradient(180deg, #101010 17.71%, #263BE2 92.19%);
}

.container-hero {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    padding: 0 50px 0 50px;
    gap: 25px;
}

.text-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 418px;
    gap: 20px;
}

.img-size {
    max-width: 567px;
}

.img-hero {
    width: 100%;
}

.divulgation {
    display: flex;
    justify-content: center;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

.section-1 {
    display: flex;
    justify-content: center;
}

.container-sec-1 {
    display: flex;
    flex-direction: column;
    width: 1140px;
    padding: 60px 50px 60px 50px;
    gap: 2rem;
}

.h1 {
    text-align: center;
}

.p {
    padding-bottom: 28px;
}

.p::first-letter {
    font-size: 2rem;
}

.barra {
    height: 5px;
    background: linear-gradient(270deg, #001EFF 0%, #101010 100%);
}

.section-2 {
    display: flex;
    justify-content: center;
}

.container-sec-2 {
    display: flex;
    flex-direction: column;
    width: 1100px;
    padding: 0 50px 0 50px;
}

.item-1 {
    padding-top: 2rem;
}

.title {
    padding: 25px 0 25px 0;
}

.text {
    padding-bottom: 60px;
}

.section-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #101010 33.48%, #253AD8 100%);
}

.section-3 h1 {
    padding: 60px 50px 0 60px;
}

.container-sec-3 {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    column-gap: 100px;
    row-gap: 70px;
    padding: 60px 50px 60px 50px;
    flex-wrap: wrap;
}

.img-sec-3 {
    max-width: 300px;
}

.img-size-3 {
    width: 100%;
}

.section-4 {
    display: flex;
    justify-content: center;
}

.container-sec-4 {
    display: flex;
    flex-direction: column;
    width: 1100px;
    padding: 60px 50px 60px 50px;
    gap: 50px;
}

.group-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    box-sizing: border-box;
}

.input-2 p {
    padding-bottom: 10px;
}

#nome,
#sobrenome,
#email {
    height: 38px;
    border-radius: 5px;
    border: 2px solid #000;
    padding-left: 10px;
}

#mensagem {
    box-sizing: border-box;
    padding: 10px 0px 0px 10px;
    width: 100%;
    height: 152px;
    border-radius: 5px;
    border: 2px solid #000;
    resize: none;
}


.button-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    background: linear-gradient(180deg, #101010 24.63%, #263CE0 100%);
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button-enviar:hover {
    background: linear-gradient(180deg, #000 14.63%, #2032bb 100%);
    transition: 0.8s;
}

.button-enviar:active {
    opacity: 0.8;
    transition: 100ms;
}

.botton-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 60px;
    height: 55px;
    border-radius: 10px;
    background: linear-gradient(180deg, #101010 36.46%, #263CDE 100%);
    opacity: 0.6;
}

.botton-fixed:hover {
    opacity: initial;
    transition: 0.5s;
}

.arrow-icon {
    width: 36px;
    height: 38px;
    background-image: url(assets/img/arrow-icon.png);
    background-size: cover;
    background-position: center;
    transform: scaleY(-1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 95px;
    background: linear-gradient(180deg, #263CE2 0%, #101010 56.77%);
}

@media (max-width:1067px) {

    .group-1 {
        flex-direction: column;
        align-items: center;
    }

    .container-sec-4 {
        align-items: center;
        text-align: center;
        padding: 60px 30px 60px 30px;
    }

    #mensagem {
        width: 300px;
    }


}



@media (max-width:700px) {

    .container-hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }


    .text-hero {
        padding-top: 50px;
        width: auto;
        text-align: center;

    }

    .menu {
        gap: 25px;
    }

    .title {

        text-align: center;
    }


}